.container{
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  max-width: 100vw;
  margin: auto;
  background: #04204d;
}

.container .containerTitle{
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.container div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}